__pycache__/
*.pyc
.venv/
.env

.idea/
.vscode/

.DS_Store

notes.md
todo.md

data/raw/
data/interim/
data/processed/
backend/data/input/
backend/data/output/
backend/data/pairs/
backend/data/scores/
backend/data/factors/
backend/app/data/nli/raw/
backend/app/data/nli/workdir/
backend/app/data/nli/embeddings-index/
backend/app/core/nli/pipeline/1-UserInput/in/
