app = 'backend-floral-night-856'
primary_region = 'fra'

[build]

[env]
NLI_DATA_ROOT = "/data/nli-data"
NLI_WORKDIR   = "/data/nli-workdir"
PRESETS_DIR   = "/app/presets"

[http_service]
internal_port = 8000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1

[[mounts]]
source = "nli_data"
destination = "/data"
